@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: capitalize;
}

html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

ul li {
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

@-webkit-keyframes scaleUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

main {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(../images/patrick-ryan-3kUIaB2EPp8-unsplash.jpg) center/cover no-repeat;
}

form {
  width: 400px;
  padding: 4rem 2rem 2rem 2rem;
  background: linear-gradient(135deg, rgba(207, 217, 223, 0.8) 0%, rgba(226, 235, 240, 0.8) 100%);
  border-radius: 2rem;
}

form * {
  font-size: 1.8rem;
}

form .flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form .flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

form .flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

form .form-item {
  width: 100%;
  position: relative;
}

form .form-item:not(:last-child) {
  margin-bottom: 1.4rem;
}

form .form-item .input-div {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 1.5rem;
}

form .form-item .input-div .vertical-line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 0;
  height: 100%;
  background-color: #3498db;
  opacity: 0.6;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

form .form-item .input-div input:focus ~ .vertical-line {
  width: 1rem;
}

form .form-item input.w-100 {
  width: 100%;
  padding: 1.6rem 2rem;
  border-radius: 1.5rem;
}

form .form-item input[type="submit"] {
  width: 90%;
  padding: 1.6rem;
  background-color: #3498db;
  color: #fff;
  border-radius: 1rem;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

form .form-item input[type="submit"]:hover {
  background-color: #258cd1;
}

form .form-item input[type="checkbox"] {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

form .form-item input[type="checkbox"]:checked ~ .checkbox-checkmark {
  background: #3498db;
  border: 3px solid #fff;
  -webkit-animation: scaleUp 200ms ease-in-out;
          animation: scaleUp 200ms ease-in-out;
}

form .form-item input[type="radio"] {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

form .form-item input[type="radio"]:checked ~ .radio-checkmark {
  background: #3498db;
  -webkit-animation: scaleUp 200ms ease-in-out;
          animation: scaleUp 200ms ease-in-out;
}

form .form-item input[type="date"] {
  font-family: "Roboto", sans-serif;
  color: #928c8c;
  position: relative;
  cursor: pointer;
}

form .form-item input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
  cursor: pointer;
}

form .form-item .checkbox-checkmark {
  position: relative;
  display: inline-block;
  top: 5%;
  left: 0;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 25%;
  background: linear-gradient(145deg, #9c9696, #837e7e);
  -webkit-box-shadow: 20px 20px 60px #7c7777, -20px -20px 60px #a8a1a1;
          box-shadow: 20px 20px 60px #7c7777, -20px -20px 60px #a8a1a1;
}

form .form-item .radio-checkmark {
  position: relative;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  border-radius: 100%;
  background-color: #fff;
  border: 2px solid #928c8c;
}

form .form-item label:not(.gender-opt):not([for="agree-to-terms"]) {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

form .form-item label[for="agree-to-terms"] {
  margin-top: 3rem;
  cursor: pointer;
  text-transform: initial;
}

form .form-item #gender-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

form .form-item #gender-div .gender-opt {
  position: relative;
  padding: 1.5rem 2.5rem;
  background-color: #fbfafa;
  color: #928c8c;
  border-radius: 1.5rem;
  cursor: pointer;
}

form .form-item #gender-div .gender-opt:first-child {
  margin-right: 1rem;
}

form .form-item #gender-div .this-is-checked {
  color: #000000;
}

@media only screen and (max-width: 768px) {
  form {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  form {
    width: 100%;
    border-radius: 0;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  input[type="submit"] {
    width: 100% !important;
  }
}
/*# sourceMappingURL=main.css.map */